<nav class="menu">
  <div class="izquierda">
    <img
      src="assets/logo-uni2.png"
      alt="Logo universidad"
      class="logo"
    />

    <ul class="menu-links">
      <li>
        <a routerLink="/home/solicitar" routerLinkActive="activo">
          {{ 'MENU.SOLICITAR' | translate }}
        </a>
      </li>
      <li>
        <a routerLink="/home/cursos" routerLinkActive="activo">
          {{ 'MENU.MIS_CURSOS' | translate }}
        </a>
      </li>
    </ul>
  </div>

  <div class="derecha">
    <div class="idiomas">
      <img
        src="assets/banderas/bandera-españa.webp"
        alt="ES"
        (click)="cambiarIdioma('es')"
      />
      <img
        src="assets/banderas/bandera-inglesa.webp"
        alt="EN"
        (click)="cambiarIdioma('en')"
      />
      <img
        src="assets/banderas/bandera-francesa.png"
        alt="FR"
        (click)="cambiarIdioma('fr')"
      />
      <img
        src="assets/banderas/bandera-italiana.png"
        alt="IT"
        (click)="cambiarIdioma('it')"
      />
      <img
        src="assets/banderas/bandera-alemania.png"
        alt="DE"
        (click)="cambiarIdioma('de')"
      />
    </div>
    <img
      src="assets/logout.png"
      alt="{{ 'MENU.LOGOUT' | translate }}"
      title="{{ 'MENU.LOGOUT' | translate }}"
      class="logout"
      (click)="logout()"
    />
  </div>
</nav>

<div class="contenido">
  <router-outlet></router-outlet>
</div>
