<h2 class="titulo-recomendados">{{ 'CURSOS_RECOMENDADOS.TITULO' | translate }}</h2>


<p *ngIf="mensaje" class="mensaje">{{ mensaje }}</p>

<div *ngFor="let curso of cursos" class="card">
  <h3>{{ curso.tituloCurso || curso.tema }}</h3>
  <p>
    <strong>{{ 'DETALLE_CURSO.FORMATO' | translate }}</strong>
    {{ curso.formato }}
  </p>
  <button (click)="verCurso(curso)">
    {{ 'CURSOS_RECOMENDADOS.VER_DETALLE' | translate }}
  </button>
  <button (click)="guardarCurso(curso)">
    {{ 'CURSOS_RECOMENDADOS.GUARDAR' | translate }}
  </button>
</div>
